* {
  margin: 0;
}

.NavHeading {
  text-decoration: none;

  color: red;

  width: 150px;
  padding: 10px 10px 10px 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: rgb(0, 254, 255);
  background: linear-gradient(51deg, rgba(0, 254, 255, 1) 0%, rgba(255, 0, 0, 0.9912663755458515) 91%)no-repeat;
  height: 150vh;
}

.active {
  background-color: blue;
  color: #fff;
  border-radius: 5px;

  /* padding: 15px 8px 0px 8px; */
}

.active:hover {
  color: #fff;
}

/* .navBar {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */